/* got inspired by https://github.com/stevoisiak/JavaFX-Online-Chess/blob/master/assets/stylesheet.css */

.chess-space {
	/* stage size (400)/8 spaces */
	-fx-min-height:  50px;
	-fx-min-width:   50px;
	-fx-pref-height: 50px;
	-fx-pref-width:  50px;
	-fx-max-height:  50px;
	-fx-max-width:   50px;
	
	/* prevent rounded buttons */
	-fx-background-radius: 0em;
}

.chess-space-light {
	-fx-background-color: #FFCE9E;
}

.chess-space-dark {
	-fx-background-color: #663300;
}

.chess-space-black-selected {
	-fx-background-color: #ff0000;
}

.chess-space-white-selected {
	-fx-background-color: #00ff00;
}
